@charset "utf-8";

/* RESET
----------------------------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
img,
embed,
object,
video {
    max-width: 100%;
}
.ie6 img.full,
.ie6 object.full,
.ie6 embed,
.ie6 video {
    width: 100%;
}

/* BASE
----------------------------------------------------------------------------------------*/

* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
html,
body {
    position: relative;
    min-height: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    font-family: "Roboto", sans-serif;
}
strong {
    font-weight: 500;
}
i {
    font-style: italic;
}
.overflow-hidden {
    position: relative;
    overflow: hidden;
}
.content a {
    color: #00a8e3;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.scroll-to-link {
    cursor: pointer;
}
p,
.content ul,
.content ol {
    font-size: 14px;
    color: #777a7a;
    margin-bottom: 16px;
    line-height: 1.6;
    font-weight: 300;
}
.content h1:first-child {
    font-size: 1.333em;
    color: #034c8f;
    padding-top: 2.5em;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-top-width: 0;
    margin-top: 0;
    margin-bottom: 1.3em;
    clear: both;
}

code,
pre {
    font-family: "Source Code Pro", monospace;
}
.higlighted {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-radius: 3px;
}

/* LEFT-MENU
----------------------------------------------------------------------------------------*/

.left-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    background-color: #f4f5f8;
    overflow-x: hidden;
    font-size: 18px;
}
.left-menu .content-infos {
    position: relative;
    padding: 12px 13.25%;
    margin-bottom: 20px;
}
.left-menu .info {
    position: relative;
    font-size: 14px;
    margin-top: 5px;
    color: #777a7a;
}
.left-menu .info b {
    font-weight: 500;
    color: #034c8f;
}
.content-logo {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1.425em 11.5%;
    padding-right: 0;
}
.content-logo img {
    display: inline-block;
    max-width: 70%;
    vertical-align: middle;
}
.content-logo span {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    color: #323f4c;
    font-size: 1.1em;
}
.content-menu {
    margin: 2em auto 2em;
    padding: 0 0 100px;
}
.content-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 28px;
}
.content-menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.content-menu ul li:hover,
.content-menu ul li.active {
    background-color: #dcdee9;
}
.content-menu ul li:hover a,
.content-menu ul li.active a {
    color: #00a8e3;
}
@media (hover: none) {
    .content-menu ul li:not(.active):hover {
        background-color: inherit;
    }
    .content-menu ul li:not(.active):hover a {
        color: #777a7a;
    }
}
.content-menu ul li a {
    padding: 12px 13.25%;
    color: #777a7a;
    letter-spacing: 0.025em;
    line-height: 1.1;
    display: block;
    text-transform: capitalize;
}

/* CONTENT-PAGE
----------------------------------------------------------------------------------------*/

.content-page {
    position: relative;
    box-sizing: border-box;
    margin-left: 300px;
    z-index: 2;
    background-color: #fff;
    min-height: 100%;
    padding-bottom: 1px;
}

.title-cabang {
    font-size: 2rem;
}
.title-card-h1 {
    font-size: 2rem;
}
.title-card-h2 {
    font-size: 3rem;
    margin-top: 3rem;
    color: black;
    font-weight: bold;
}
.title-card-p {
    font-size: 2rem;
    margin-top: 8rem;
    color: black;
}

.numbered-table {
    counter-reset: row-number; /* Reset counter pada tabel */
}

.numbered-table tbody tr {
    counter-increment: row-number; /* Menambahkan counter pada setiap baris */
}

.numbered-table tbody tr td:first-child::before {
    content: counter(row-number); /* Menampilkan nomor pada kolom pertama */
}
